@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  font-size: 1.125rem;
  line-height: 1.5;
}

.wrapper {
  width: min(1280px, 100% - 3rem);
  margin-inline: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

th {
  background-color: hsl(0 0% 0% / 0.5);
}

tr:nth-of-type(2n) {
  background-color: hsl(0 0% 0% / 0.1);
}

.page-number {
  color: grey;
}

.active {
  color: black;
  font-weight: 700;
}
